@import '../../../styles/variables/variables';
.form {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 32px;
  padding-bottom: 37%;
  position: relative;
  border-right: 1px solid $main-light-grey;
  @media screen and (min-width: 0px) and (max-width: 767px) {
    min-width: 100vw;
    max-width: 100vw;
  }
}

.container {
  display: flex;
  max-width: 736px;
  min-width: 736px;
  justify-content: space-between;

  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    max-width: calc(100vw - 320px - 64px - 100px);
    min-width: calc(100vw - 320px - 64px - 100px);

  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    max-width: calc(100vw - 220px - 32px - 100px);
    min-width: calc(100vw - 220px - 32px - 100px);

  }

  @media screen and (min-width: 601px) and (max-width: 767px) {
    max-width: 500px;
    min-width: 500px;
    margin: 16px auto 0;
  }

  @media screen and (min-width: 0) and (max-width: 600px) {
    flex-direction: column;
    max-width: 287px;
    min-width: 287px;
    margin: 16px auto 0;
  }
}

.info {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 0px) and (max-width: 601px) {
    order: 1;
    width: 100%;
    align-self: center;
    margin-top: 15px;
  }
}

.title {
  color:$main-black;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 8px;

  @media screen and (min-width: 321px) and (max-width: 767px) {
    font-size: 14px;
    line-height: 16px;
  }

  @media screen and (min-width: 0px) and (max-width: 320px) {
    font-size: 12px;
    line-height: 14px;
  }
}

.text {
  color: $main-black;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 8px;
  @media screen and (min-width: 321px) and (max-width: 767px) {
    font-size: 12px;
    line-height: 14px;
  }
  @media screen and (min-width: 0px) and (max-width: 320px) {
    font-size: 10px;
    line-height: 12px;
  }
}

.number {
  @extend .text;
  padding: 4px 8px;
  border: 1px solid $main-dark-grey;
  max-width: 94px;
  text-align: center;
  border-radius: 4px;
  margin: 0 0 8px;
  font-weight: 400;
}

.textBold {
  @extend .text;
  font-weight: 700;
  margin: 0 0 8px;
  &:last-of-type {
    margin: 0;
  }
}

.imageWrapper {
  @media screen and (min-width: 0) and (max-width: 767px) {
    align-self: center;
  }
}

.image {
  width: 256px;
  height: 116px;
}



