@import "../../../../styles/variables/variables";

.container {
  margin-bottom: 32px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  label {
    display: inline-block;
    overflow: hidden;
    max-width: 105px;
    font-family: RobotoLight, sans-serif;
    color: $main-black;
    margin-right: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
  }
}
