.form {
  display: flex;
  flex-wrap: wrap;

  & > * {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
  &__vertical{
    flex-direction: column;
    & > * {
      &:not(:first-child) {
        margin-top: 15px;
      }
    }
  }
}