@import "../../../styles/variables/variables";

.location {
  display: flex;
  justify-content: space-between;
  flex: 1 1;
  border-right: 1px solid $main-light-grey;

}

.container {
  padding-top: 32px;
}

.title {
  font-family: RobotoLight, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $main-black;
  font-weight: 300;
}
