$main-accent: #0EC261;
$main-black: #121212;
$main-dark-grey: #999;
$main-light-grey:#EEEEEE;

/*btn_colors*/
$btn: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
$btn-hover: linear-gradient(90deg, #0B934A 2.61%, #026E47 112.6%);
$btn-focus: linear-gradient(90deg, #076432 2.61%, #013C27 112.6%);
$btn-active: linear-gradient(90deg, #0B934A 2.61%, #026E47 112.6%);
/*transition*/
$transition: all 0.3s ease-in-out;

