@import "../../../styles/variables/variables";

.slide {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center !important;
  position: relative;
  z-index: 10;

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, #000 100%);
  }
}

.article {
  max-width: 495px;
  z-index: 100;
  margin: 0 32px 60px;

  &__title {
    color: white;
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
    margin-top: 0;
    margin-bottom: 8px;
    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      font-size: 32px;
      line-height: 37px;
    }
  }

  &__descr {
    margin: 0 0 32px;
    line-height: 24px;
    font-size: 24px;
    color: $main-light-grey;
    font-weight: 300;
    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      line-height: 22px;
      font-size: 22px;
    }
  }
  @media screen and (min-width: 1025px) and (max-width: 1200px) {
    max-width: 282px;
  }
}

.button {
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  min-width: 164px;
  border: none;
  cursor: pointer;
  max-width: 164px;
  border-radius: 4px;
  padding: 15px;
  margin: 0;
}
